<div class="animate__animated animate__pulse">

    <h2 class="text-center">By country</h2>
    <hr>

    <div class="row">
        <div class="col">
            <!--  <form (ngSubmit)="search()" action="" autocomplete="off">
            <input [(ngModel)]="enterData" type="text" name="country" id="" class="form-control"
                placeholder="Search country">
        </form>  -->
            <app-countries-input (onEnter)="search($event)" (onDebounce)="suggestion($event)"
                placeHolder="Search by country...">


            </app-countries-input>
        </div>

    </div>


</div>

<hr>
<div *ngIf="error" class="alert alert-danger">
    No se encontro nada con la busqueda {{enterData }}
</div>

<div class="row">

    <div class="col" *ngIf="country.length>0">
        <app-countries-table [country]="country"></app-countries-table>
        <!-- 
          <table class="table table-hover">
            <thead>
                <tr>
                    <th># </th>
                    <th>Bandera</th>
                    <th>Nombre</th>
                    <th>Población </th>
                    <th> Mas </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of country, let i =index">

                    <td>
                        {{i+1}}
                    </td>
                    <td>
                        <img src={{data.flag}} alt="" class="small-flag">
                    </td>
                    <td>
                        {{data.name}}
                    </td>
                    <td>{{data.population | number}}</td>
                    <td>
                        <a [routerLink]="['/see-country',data.alpha2Code]">
                            Ver...
                        </a>
                    </td>
                </tr>

            </tbody>
        </table> 
       -->

    </div>
</div>